body {
  background: linear-gradient(135deg, #d2b48c, #8b4513); /* Degradado de beige a marrón */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #5a3e36; /* Texto marrón oscuro */
  min-height: 100vh;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #8b4513; /* Fondo marrón oscuro */
}

nav ul li a {
  color: #f5f5dc; /* Texto beige claro */
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #a0522d; /* Fondo marrón rojizo al hacer hover */
}

.carrito-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carrito-container button {
  background-color: #8b4513; /* Color marrón oscuro */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.carrito-container button:hover {
  background-color: #a0522d; /* Color marrón rojizo al hacer hover */
}

@media (max-width: 768px) {
  .menu-container {
    padding: 10px; /* Menos padding en móviles */
  }
}
